@model MagicVilla_Web.Models.ViewModels.VillaNumberCreateVM

<form asp-action="CreateVillaNumber">
    <br />
    <div class="container border p-3">
        <h1 class="text=prinary">Create Villa</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="All" class="text-danger">            </div>

            <div class="col-2">
                <label asp-for="villaNumber.VillaNum" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="villaNumber.VillaNum" class="form-control" />
                <span asp-validation-for="villaNumber.VillaNum" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="villaNumber.VillaID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="villaNumber.VillaID" class="form-select" asp-items="@Model.villaList">
                    <option disabled selected>--Select Vila--</option>
                </select>
                <span asp-validation-for="villaNumber" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="villaNumber.SpecialDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="villaNumber.SpecialDetails" class="form-control" style="font-size: 20px;"></textarea>
                <span asp-validation-for="villaNumber.SpecialDetails" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexVillaNumber" asp-controller="VillaNumber" class="btn-primary btn form-control">Back To List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}